@model IEnumerable<RestaurantBackendWebsite.Models.ViewModels.OrderItemVm>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/OrderItem.css")
@{
    ViewBag.Title = "訂單明細";
}
<h2>訂單明細</h2>
<div>訂單編號 @Model.FirstOrDefault().OrderId</div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <table>

                    @foreach (var detail in item.OrderItemDetails)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => detail.MealName)

                            </td>
                        </tr>
                    }

                </table>

            </td>

        </tr>
    }

</table>
